:root {
    --my-White: #ddd;
    --my-Green: rgb(3, 136, 87);
    --my-Btn: #04AA6D;
    --my-Blue: #1d2a35;
    --my-Dark-Blue: #0a121a;
    --sidebar: rgb(21, 32, 43);
    --my-Hover: #38444d;
    --green-box: #193d3d;
}
body, html{
    height: 100%;
    padding: 0;
    margin: 0;
    color: var(--my-White);
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}
body {
    display: grid;
    grid-template-columns: 15% 4fr 1fr;
    grid-template-rows: auto 1fr;
}
header {
    grid-column: 1/4;
    background-color: var(--my-Blue);
}
h1 {
    font-weight: 600;
}
.navigation {
    display: flex;
    justify-content: space-between;
    height: fit-content;
}
.left > a {
    float: left;
    padding: 10px;
}
.right {
    margin-right: 10px;
}
a {
    text-decoration: none;
    display: inline-block;
    color: var(--my-White);
}
.nav-btn:link, .nav-btn:visited {
    text-decoration: none;
    color: var(--my-White);
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
}
.nav-btn:hover {
    background-color: var(--my-Btn);
    color: white;
}
.round-btn {
    padding: 24px 10px 24px 10px;
    color: var(--my-White);
    border-radius: 20px;
    background-color: rgb(55, 8, 142);
    width: 50%;
}
.round-btn:hover {
    background-color: #7d53cc !important;
}
.w3-btn {
    background-color: var(--my-Green);
    padding: 20px;
    border-radius: 5px;
}
.langs {
    background-color: var(--my-Dark-Blue);
    float: left;
    width: 100%;
}
.lang {
    color: var(--my-White);
    padding: 10px !important;
    float: left;
}
.lang:hover {
    background-color: black;
    color: var(--my-White);
}
.sidebar {
    background-color: var(--sidebar);
    width: 100%;
}
.sidebar h1 {
    padding: 10px 0 0 10px;
}
.learn-section {
    background-color: var(--sidebar);
    display: block;
    padding: 10px 0 10px 10px;
}
.learn-section:hover {
    background-color: var(--my-Hover);
}
.selected, .selected:hover {
    background-color: var(--my-Btn);
    color: var(--my-White);
}
.main-content {
    background-color: var(--my-Blue);
}
.page-navigation {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
}
.main-content h1 {
    font-size: 40px;
    font-weight: normal;
    padding: 10px;
}
.page-navigation a:link {
    background-color: var(--my-Green);
    border-radius: 10px;
    padding: 8px 19px 8px 19px;
    font-size: 18px;
}
.green-box {
    background-color: var(--green-box);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.ads {
    background-color: var(--my-Blue);
    border-left: #38444d 1px solid;
    text-align: center;
    padding-top: 2rem;
}
.career {
    background-color: #6e53a5;
    border: 5px solid mediumpurple;
    border-radius: 10px;
}
#mobile {
    display: none;
}
.toggle {
    display: none;
}
@media only screen and (max-width: 650px) {
    body {
        grid-template-columns: 1fr;
    }
    .navigation {
        display: none;
    }
    #mobile {
        display: flex;
        justify-content: space-between;
    }
    .sidebar {
        display: none;
    }
    .main-content {
        grid-column: 1/4;
    }
    .ads {
        border: none;
    }
    .toggle {
        display: inline-block;
    }
}
@media only screen and (min-width: 651px) {
    .sidebar {
        display: block !important;
    }
}