:root {
    --my-White: #ddd;
    --my-Green: rgb(3, 136, 87);
    --my-Btn: #04AA6D;
    --my-Blue: #1d2a35;
    --my-Dark-Blue: #0a121a;
    --sidebar: rgb(21, 32, 43);
    --my-Hover: #38444d;
}
body, html{
    height: 100%;
    padding: 0;
    margin: 0;
    color: var(--my-White);
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}
body {
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: auto 1fr;
}
header {
    grid-column: 1/3;
    background-color: var(--my-Blue);
}
h1 {
    font-weight: 600;
}
.navigation {
    display: flex;
    justify-content: space-between;
    height: fit-content;
}
.left > a {
    float: left;
    padding: 10px;
}
.right {
    margin-right: 10px;
}
a {
    text-decoration: none;
    display: inline-block;
    color: var(--my-White);
}
.nav-dropdown, .nav-dropdown:link, .nav-dropdown:visited {
    text-decoration: none;
    color: var(--my-White);
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
}
.nav-dropdown:hover {
    background-color: var(--my-Btn);
    color: white;
}
.round-btn {
    padding: 24px 10px 24px 10px;
    color: var(--my-White);
    border-radius: 20px;
}
.round-btn:hover {
    background-color: var(--my-Hover);
}
.langs {
    background-color: var(--my-Dark-Blue);
    float: left;
    width: 100%;
}
.lang {
    color: var(--my-White);
    padding: 10px !important;
    float: left;
}
.lang:hover {
    background-color: black;
    color: var(--my-White);
}
.sidebar {
    background-color: var(--sidebar);
    width: 100%;
}
.sidebar h1 {
    padding: 10px 0 0 10px;
}
.learn-section {
    background-color: var(--sidebar);
    display: block;
    padding: 10px 0 10px 10px;
}
.learn-section:hover {
    background-color: var(--my-Hover);
}
.selected, .selected:hover {
    background-color: var(--my-Btn);
    color: var(--my-White);
}
.main-content {
    background-color: var(--my-Blue);
}